.education {
  h3 {
    line-height: 50px;
  }
}
.education-main {
  li {
    display: flex;
    margin: 10px 0;
  }
  .education-year {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
  }
  .education-content {
    flex: 10;
    padding-left: 10px;
    background-color: #ccc;
    font-size: 16px;
    section {
      margin: 10px 0;
    }
    .education-title {
      font-weight: bold;
    }
  }
}
