@import '../../styles/variables';

.resume-header {
  border-bottom: 5px solid @gray-border-color;
  box-sizing: border-box;
  height: 200px;
  .header-content {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -75px;
    .avatar {
      .image-size();
      border-radius: 50%;
    }
    .introduce {
      h1,
      h2 {
        margin: 20px 0;
      }
    }
  }
}
